name: keyviz
description: Visualize your keypress in realtime

publish_to: 'none'

version: 0.1.0-b

environment:
  sdk: ">=2.17.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  keyboard_event:
    git:
      url: https://github.com/Krysl/keyboard_event.git
      ref: main
    version: ^0.3.4

  provider: ^6.0.5
  flutter_svg: ^2.0.4
  tray_manager: ^0.2.0
  url_launcher: ^6.1.7
  window_manager: ^0.3.1
  flutter_acrylic: ^1.1.2
  screen_retriever: ^0.1.5
  shared_preferences: ^2.0.20

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0
  msix: ^3.9.1

flutter:

  uses-material-design: true

  assets:
    - assets/img/
    - assets/symbols/
  
  fonts:
    - family: Poppins
      fonts:
        - asset: fonts/Poppins-Light.ttf
          weight: 300
        - asset: fonts/Poppins-Regular.ttf
          weight: 600
        - asset: fonts/Poppins-SemiBold.ttf
          weight: 900
  
msix_config:
  display_name: Keyviz
  publisher_display_name: Rahul Mula
  identity_name: dev.rahulmula.keyviz
  msix_version: 0.1.0
  logo_path: X:\dev\keypress\keyviz\assets\img\icon.png
  capabilities: inputObservation