name: keyviz
description: visualize your keypress and mouse actions

publish_to: 'none'

version: 2.0.0-alpha2

environment:
  sdk: '>=3.0.5 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # cross-platform HID (Human Input Device) listener
  hid_listener: ^2.0.1

  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding.git
      path: plugins/window_size
      ref: 6c66ad2
    
  tuple: ^2.0.2
  provider: ^6.1.2
  flutter_svg: ^2.0.9
  vector_math: ^2.1.4
  tray_manager: ^0.2.2
  url_launcher: ^6.2.5
  window_manager: ^0.3.6
  path_provider: ^2.1.4
  flutter_animate: ^4.5.0
  flutter_acrylic: ^1.1.3
  macos_window_utils: ^1.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  msix: ^3.16.7

flutter:

  uses-material-design: true

  assets:
    - assets/img/
    - assets/icons/

  fonts:
    - family: IBM Plex Sans
      fonts:
        - asset: assets/fonts/IBMPlexSans-Thin.ttf
          weight: 100
        - asset: assets/fonts/IBMPlexSans-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/IBMPlexSans-Light.ttf
          weight: 300
        - asset: assets/fonts/IBMPlexSans-Regular.ttf
          weight: 400
        - asset: assets/fonts/IBMPlexSans-Medium.ttf
          weight: 500
        - asset: assets/fonts/IBMPlexSans-SemiBold.ttf
          weight: 700
        - asset: assets/fonts/IBMPlexSans-Bold.ttf
          weight: 900

    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Thin.ttf
          weight: 200
        - asset: assets/fonts/Inter-Regular.ttf
        - asset: assets/fonts/Inter-SemiBold.ttf
          weight: 600