* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.keycap {
  height: fit-content;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: black;
  background-color: white;
}